---
import ClientDocLayout from "../../../layouts/ClientDocLayout.astro";
import { client, clientLabel, zenDocs } from "../../../lib/clients/zen";
---

<ClientDocLayout
  title="Index"
  description="Documentation index for Zen."
  client={client}
  clientLabel={clientLabel}
  docs={zenDocs}
>
  <p class="client__eyebrow">Client documentation</p>
  <h2 class="client__title">Welcome</h2>
  <p class="client__lead">
    Shared documentation for {clientLabel}. Select a document below.
  </p>

  <ul class="client__index-list">
    {
      zenDocs.map((doc) => (
        <li>
          <a class="client__index-link" href={doc.href}>
            {doc.label}
            <span>{doc.description}</span>
          </a>
        </li>
      ))
    }
  </ul>
</ClientDocLayout>
